<a href="https://colab.research.google.com/github/AbhishekGarg03/Projects/blob/main/original_IDE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [106]:
df_cat= pd.read_excel("/content/cat.xlsx")
df_num = pd.read_csv("/content/cat1.csv")

In [22]:
df.dtypes

AttributeError: ignored

In [130]:
df = df_cat.copy()

In [132]:
df.columns= df.columns.str.replace(" ","_")

In [133]:
df.drop("Customer_ID",axis=1,inplace=True)

In [161]:
df.dtypes

Married                                int64
Number_of_Dependents                 float64
Number_of_Referrals                  float64
Tenure_in_Months                     float64
Avg_Monthly_Long_Distance_Charges    float64
Multiple_Lines                         int64
Internet_Service                       int64
Avg_Monthly_GB_Download              float64
Online_Security                        int64
Online_Backup                          int64
Device_Protection_Plan                 int64
Premium_Tech_Support                   int64
Streaming_TV                           int64
Streaming_Movies                       int64
Streaming_Music                        int64
Unlimited_Data                         int64
Paperless_Billing                      int64
Monthly_Charge                       float64
Total_Charges                        float64
Total_Refunds                        float64
Total_Extra_Data_Charges             float64
Total_Long_Distance_Charges          float64
Total_Revenue                        float64
Customer_Status                        int64
Churn_Reason                          object
Offer_None                             uint8
Offer_Offer A                          uint8
Offer_Offer B                          uint8
Offer_Offer C                          uint8
Offer_Offer D                          uint8
Offer_Offer E                          uint8
Contract_Month-to-Month                uint8
Contract_One Year                      uint8
Contract_Two Year                      uint8
Internet_Type_Cable                    uint8
Internet_Type_DSL                      uint8
Internet_Type_Fiber Optic              uint8
Payment_Method_Bank Withdrawal         uint8
Payment_Method_Credit Card             uint8
Payment_Method_Mailed Check            uint8
AgeGroup_Teen                          uint8
AgeGroup_Adult                         uint8
AgeGroup_Senior_citizens               uint8
dtype: object

In [33]:

  df.columns=df.columns.str.replace(" ","_")

In [135]:
df.columns

Index(['Gender', 'Age', 'Married', 'Number_of_Dependents', 'City',
       'Number_of_Referrals', 'Tenure_in_Months', 'Offer', 'Phone_Service',
       'Avg_Monthly_Long_Distance_Charges', 'Multiple_Lines',
       'Internet_Service', 'Internet_Type', 'Avg_Monthly_GB_Download',
       'Online_Security', 'Online_Backup', 'Device_Protection_Plan',
       'Premium_Tech_Support', 'Streaming_TV', 'Streaming_Movies',
       'Streaming_Music', 'Unlimited_Data', 'Contract', 'Paperless_Billing',
       'Payment_Method', 'Monthly_Charge', 'Total_Charges', 'Total_Refunds',
       'Total_Extra_Data_Charges', 'Total_Long_Distance_Charges',
       'Total_Revenue', 'Customer_Status', 'Churn_Category', 'Churn_Reason'],
      dtype='object')

In [ ]:
for i in df.columns:
  print(f'{i}:{df[i].unique()}')

In [136]:
df=df.replace({'Yes':1,"No":0})

In [137]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[['Number_of_Dependents', 'Number_of_Referrals',
       'Tenure_in_Months', 'Avg_Monthly_Long_Distance_Charges',
       'Avg_Monthly_GB_Download', 'Monthly_Charge', 'Total_Charges',
       'Total_Refunds', 'Total_Extra_Data_Charges',
       'Total_Long_Distance_Charges', 'Total_Revenue']]=scaler.fit_transform(df[['Number_of_Dependents', 'Number_of_Referrals',
       'Tenure_in_Months', 'Avg_Monthly_Long_Distance_Charges',
       'Avg_Monthly_GB_Download', 'Monthly_Charge', 'Total_Charges',
       'Total_Refunds', 'Total_Extra_Data_Charges',
       'Total_Long_Distance_Charges', 'Total_Revenue']])

In [138]:
df['Avg_Monthly_Long_Distance_Charges']

0       0.844944
1       0.197344
2       0.666394
3       0.547293
4       0.129724
          ...
1034    0.704801
1035    0.517875
1036    0.090909
1037    0.201021
1038    0.103984
Name: Avg_Monthly_Long_Distance_Charges, Length: 1039, dtype: float64

In [139]:
df.drop(['Churn_Category','City','Phone_Service','Gender'],axis=1,inplace=True)

In [60]:
df.age1=df.Age.unique()
df.age1.sort()

In [61]:
print(df.age1)

[19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42
 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66
 67 68 69 70 71 72 73 74 75 76 77 78 79 80]

In [140]:
bins= [19,35,50,81]
labels = ["Teen",'Adult','Senior_citizens']
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

In [141]:
df.drop("Age",axis=1,inplace=True)

In [160]:
df.head()

,Married,Number_of_Dependents,Number_of_Referrals,Tenure_in_Months,Avg_Monthly_Long_Distance_Charges,Multiple_Lines,Internet_Service,Avg_Monthly_GB_Download,Online_Security,Online_Backup,...,Contract_Two Year,Internet_Type_Cable,Internet_Type_DSL,Internet_Type_Fiber Optic,Payment_Method_Bank Withdrawal,Payment_Method_Credit Card,Payment_Method_Mailed Check,AgeGroup_Teen,AgeGroup_Adult,AgeGroup_Senior_citizens
0,1,0.0,0.2,0.112676,0.844944,0,1,0.168675,0,1,...,0,1,0,0,0,1,0,0,1,0
1,0,0.0,0.0,0.112676,0.197344,1,1,0.096386,0,0,...,0,1,0,0,0,1,0,0,1,0
2,0,0.0,0.0,0.042254,0.666394,0,1,0.337349,0,0,...,0,0,0,1,1,0,0,0,0,1
3,1,0.0,0.1,0.169014,0.547293,0,1,0.024096,0,1,...,0,0,0,1,1,0,0,0,0,1
4,1,0.0,0.3,0.028169,0.129724,0,1,0.108434,0,0,...,0,0,0,1,0,1,0,0,0,1

In [142]:
one_encoder=pd.get_dummies(df[['Offer','Contract','Internet_Type','Payment_Method','AgeGroup']])

In [143]:
df=df.join(one_encoder)
df.drop(['Offer','Contract','Internet_Type','Payment_Method','AgeGroup'],axis=1,inplace=True)

In [ ]:
df.dtypes

In [156]:
df=df.replace({'Customer_Status':{'Churned':1,"Stayed":0,"Joined":0}})

In [159]:
df.Customer_Status.unique()

array([0, 1])

In [162]:
df_mod= df.copy()

Model Building